.git
.gitignore
.idea
.vscode
.claude
.DS_Store

node_modules
dist
dist-ssr

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

.env
.env.*
!.env.example

Dockerfile
.dockerignore
docker-compose.yml
README.md
CLAUDE.md
